<h3>Login</h3>
<div>
    <div>
        <form action="/usuario/login" method="post">
            <label for="email_lbl">Email</label>
                <input type="email" name="email" id="email_lbl" class="form-control" required>
            <label for="senha_lbl">Senha</label>
                <input type="password" name="senha" id="senha_lbl" class="form-control" required>
            <button type="submit" class="btn btn-success mt-3">Entrar</button>
        </form>
    </div>
</div>