<h3>Crie sua conta hoje</h3>
<div class="card">
    <div class="card-body">
        <form action="/usuario/registro" method="post">
            <label for="nome_lbl">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome_lbl" required>
            <label for="email_lbl">Email</label>
                <input type="email" name="email" class="form-control" id="email_lbl" required>
            <label for="senha_lbl">Senha</label>
                <input type="password" name="senha" class="form-control" id="senha_lbl" required>
            <label for="rep_senha_lbl">Repita Senha</label>
                <input type="password" name="senha_2" class="form-control" id="rep_senha_lbl" required>
            <button type="submit" class="btn btn-success mt-3">Criar conta</button>
        </form>
    </div>
</div>